<launch>
    <node name="camera" pkg="usb_cam" type="usb_cam_node">
        <param name="video_device" value="/dev/video0" />
        <param name="pixel_format" value="mjpeg" />
        <param name="framerate" value="30" />
        <param name="camera_frame_id" value="handcam" />
    </node>

    <node name="proc" ns="camera" pkg="image_proc" type="image_proc" args="">
    </node>

    <node name="calibrator" pkg="camera_calibration" type="cameracalibrator.py" args=" --size 11x7 --square 0.190" clear_params="true" output="screen" >
        <remap from="image" to="/camera/image_mono" />
        <remap from="camera" to="/camera" />
    </node>
</launch>
